<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    <style type="text/csss">
      h1 { text-align:left }
    </style>
</head>
<body>
    <header>
        <h1>Ryo Joel Nakatani</h1>
        <p>Ph.D. Candidate, MSc, JSPS DC1 Fellow</p>
    </header>
    <div class="container">
        {{ content }}
    </div>
</body>
</html>
